name: CCI

on:
  workflow_dispatch:
  push:
    branches: [master]
    tags: [v*]
  pull_request:
    branches: [master]

env:
  CCI: ${{ github.workspace }}/cci
  CCI_ROOT_DIR: ${{ github.workspace }}
  CCI_BASE_DIR: ${{ github.workspace }}/build
  CCI_DATA_DIR: ${{ github.workspace }}/data
  CCI_LIB_DIR: ${{ github.workspace }}/lib
  CCI_PLUGIN_DIR: ${{ github.workspace }}/plugins
  CCI_QT_DIR: ${{ github.workspace }}/qt
  CCI_QT_HOST_DIR: ${{ github.workspace }}/qt-host
  CCI_QT_HOST_BIN_DIR: ${{ github.workspace }}/qt-host/bin
  CCI_SOURCE_DIR: ${{ github.workspace }}/src
  CCI_TEST_DIR: ${{ github.workspace }}/test

jobs:
  test_macos:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-13-canary, macos-14-canary, macos-15-canary]
        qt-version: [5.15.2, 6.2.4, 6.5.3]
        compiler: [clang]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: ${{ matrix.qt-version }}
          cache: true

      - name: Install dependencies (Homebrew)
        run: |
          brew update
          brew install cmake ninja

      - name: Configure
        run: |
          cmake -B build -G Ninja \
            -DCMAKE_BUILD_TYPE=Release \
            -DQt6_DIR=$(brew --prefix qt@${{ matrix.qt-version }})/lib/cmake/Qt6

      - name: Build
        run: cmake --build build --parallel

      - name: Test
        run: ctest --test-dir build --output-on-failure
